@using Models
@model IEnumerable<Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" name="checkAll" /> All
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductModel item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" value="@item.Id" name="ProductCheck" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure to delete?')" })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $("[name='checkAll']").click(function () {
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                $("[name='ProductCheck']").prop('checked', true);
            }
            else {
                $("[name='ProductCheck']").prop('checked', false);
            }
        });

        $("[name='ProductCheck']").click(function () {
            debugger;
            var total = $("[name='ProductCheck']").length;
            var totalChecked = $("[name='ProductCheck']:checked").length;
            if (total == totalChecked) {
                $("[name='checkAll']").prop('checked', true);
            } else {
                $("[name='checkAll']").prop('checked', false);
            }
        });
    });
</script>